.carousel-container {
    position: relative;
    width: 100%; /* Ensure the container spans the full width */
    height: 100vh; /* Adjust the height as needed (e.g., 100vh for fullscreen) */
    overflow: hidden; /* Hide any overflow caused by the image */
}

.carousel-item {
    position: relative;
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height of the container */
    display: flex; /* Aligns the child image properly */
    justify-content: center; /* Center content horizontally (optional) */
    align-items: center; /* Center content vertically (optional) */
}

.carousel-image {
	background-color: #cccccc;
    width: 800px;
    height: 500px;
    background-position: bottom 100px right 150px;
    background-repeat: repeat-x;
    background-size: 50%;
}


.swiper-button-next,
.swiper-button-prev {
    color: #fff;
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: rgba(245, 245, 245, 0.8); /* Slight transparency for better appearance */
	padding: 0.5rem;
	border-radius: 50%;
	cursor: pointer;
	/* Changes cursor to pointer on hover */
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	/* Optional: Adds a subtle shadow */
}

.swiper-button-next {
	right: 1rem;
}

.swiper-button-prev {
	left: 1rem;
}

.swiper-pagination {
	position: absolute;
	bottom: 20px;
	/* Adjust spacing from the bottom */
	width: 100%;
	text-align: center;
	color: #fff;
	/* Matches text color with the design */
	font-size: 1rem;
	/* Adjust font size for pagination indicators */
}